.obscure {
    background-color: var(--w-obscure);
    z-index: 1001;
    top: 0;
    pointer-events: none;
}

.wrapper-play-again {
    height: calc(100vh - 64px);
    width: 100%;
    backdrop-filter: blur(1.5px);
    top: 64px;
    pointer-events: visible;
}

.play-again-container {
    height: max-content;
    width: 380px;
    border: solid 1px var(--w-border);
    background-color: var(--w-popups-bg);
    z-index: 400;
    animation: Entry .35s;
}

@keyframes Entry {
    0% {
        margin-top: 23vh;
        opacity: .6;
    }
}

.stadistic-container {
    background-color: var(--w-popups-bg);
    border: 1px solid var(--w-border);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    max-width: 320px;
    margin: auto;
}

.stadistic-container p {
    font-size: 1.2rem;
    color: var(--w-text);
    margin: 0;
}

.stadistic-container span {
    background-color: var(--w-keyboard-bg);
    padding: 4px 12px;
    border-radius: 4px;
    font-size: 1rem;
    color: var(--w-lowtext);
    transition: background-color 0.3s;
}

.stadistic-container span:hover {
    background-color: var(--w-border);
}