.obscure{
    background-color: var(--w-obscure);
    z-index: 1001;
    top: 0;
    pointer-events: none;
}
.wrapper-play-again{
    height: calc(100vh - 64px);
    width: 100%;
    backdrop-filter: blur(1.5px);
    top: 64px;
    pointer-events: visible;
}

.play-again-container{
    margin-top: 20vh;
    height: max-content;
    width: 350px;
    border: solid 1px var(--w-border);
    background-color: var(--w-popups-bg);
    z-index: 400;
    animation: Entry .35s;
}

@keyframes Entry {
    0%{
        margin-top: 23vh;
        opacity: .6;
    }
}

.stadistic-container{
    height: 120px;
}