.board{
    color: var(--w-subtitle);
}

.box-letter{
    border-radius: 4px;
    border: solid 1px var(--w-border);
    background-color: var(--w-box);
    height: 60px;
    aspect-ratio: 1/1;
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
    font-weight: 700;
    font-size: 30px;
    transform-style: preserve-3d;
}

.box-letter.active{
    border: solid 2px var(--w-box-border-intense);
    animation: BoxWithLetter .15s ease-out;
}

.box-letter[data-valid="true"]{
    border: solid 2px #acacac28;
    background-color: var(--w-bg-true);
}
.box-letter[data-valid="false"]{
    border: solid 2px #acacac28;
    background-color: var(--w-bg-false);
}
.box-letter[data-valid="exists"]{
    border: solid 2px #acacac28;
    background-color: var(--w-bg-hint);
}

.box-letter.validate{
    animation: ValidationAnimation .45s ease-out;
}
.box-letter[data-win="true"]{
    animation: WinAnimation .38s ease-out;
}

@keyframes ValidationAnimation {
    50%{
        transform: rotateX(90deg);
    }
}


@keyframes BoxWithLetter {
    25%{
        transform: scale(1.13);
    }
    50%{
        transform: scale(1.06);
    }
}

@keyframes WinAnimation {
    50%{
        transform: translateY(-20px);
    }
}