.play-again {
    background-color: rgba(var(--g-bg), .4);
    opacity: 0;
    pointer-events: none;
    transition: opacity .2s ease;
}

.play-again.active {
    opacity: 1;
    pointer-events: visible;
}

.game-board {
    width: 90%;
    max-width: 520px;
    gap: .36rem;
}

.game-board>div {
    gap: .36rem;
}

.game-box {
    background-color: var(--g-box-bg);
    border: solid 1px rgb(var(--lb-br), .6);
    width: 100%;
    max-width: 55px;
    aspect-ratio: 1/1;
    text-transform: uppercase;
    border-radius: 4px;
    user-select: none;
    font-weight: 670;
    font-size: 24px;
    transform-style: preserve-3d;
}

.game-box.active {
    border: solid 1px rgb(var(--lb-br), .4);
    animation: BoxActive .2s ease;
}

.game-box.target {
    border: solid 1px #6fafebc5;
    outline: solid 1px #6fafebc5;

}

.game-box[data-valid="true"] {
    border: solid 1px #40404028;
    background-color: var(--box-true);
}

.game-box[data-valid="false"] {
    border: solid 1px #40404028;
    background-color: var(--box-false);
}

.game-box[data-valid="exist"] {
    border: solid 1px #acacac28;
    background-color: var(--box-hint);
}



.keyboard-container {
    gap: 0.36rem;
}

.keyboard-container>div {
    gap: 0.36rem;
}

.key-box {
    background-color: var(--g-keyboard-bg);
    border-bottom: solid 1px #64626275;
    min-width: 16px;
    max-width: 34px;
    height: 40px;
    aspect-ratio: 1 / 1.3;
    user-select: none;
    flex-grow: 1;
}

.key-box-icon {
    background-color: var(--g-keyboard-bg);
    border-bottom: solid 1px #64626275;
    max-width: 50px;
    height: 40px;
}

.key-box[data-valid="true"] {
    background-color: var(--box-true);
}

.key-box[data-valid="false"] {
    opacity: .8;
    border: solid 1px transparent;
    background-color: var(--g-keyboard-bg-false);
    color: rgb(var(--lb-text));
}

.key-box[data-valid="exist"] {
    background-color: var(--box-hint);
}

.game-popup{
    background-color: rgba(var(--g-bg));
    border: solid 1px rgba(var(--lb-br), .4);
}