:root {
    --w-bg: #ffffff;
    --w-primary: #1c274c;
    --w-secondary: #696969;
    --w-text: #1c274c;
    --w-box: #e8e8e8;
    --w-border: #666666;
    --w-border-intense: #888888;

    --w-bg-true: #6bbf59;
    --w-bg-hint: #e6c35c;
    --w-bg-false: #db6d6d;

    /* Tipografía */
    --wt-multiplier: 1.5;
    --wt-size: calc(var(--wt-multiplier) * 12px);
    --wt-spacing: 0.5rem;
}

.dark {
    --w-bg: #0e0e0f;
    --w-primary: #1c274c;
    --w-secondary: #696969;
    --w-text: #1c274c;
    --w-box: #e8e8e8;
    --w-border: #666666;
    --w-border-intense: #888888;

    --w-bg-true: #6bbf59;
    --w-bg-hint: #e6c35c;
    --w-bg-false: #db6d6d;
}

