---
import CreateGame from "@/apps/Modes/Custom/CreateGame";
import PremiumLayout from "@/layouts/PremiumLayout.astro";
---

<PremiumLayout title="Create - Custom Word Guess" description="Innovate wordguess with customs words">
    <main class="f-row g-2">
       <CreateGame client:only="react" />
    </main>
</PremiumLayout> 