---
import NavigationLayout from "@/layouts/NavigationLayout.astro";
import CustomPlay from "@/apps/Modes/Custom/CustomPlay";
import PremiumLayout from "@/layouts/PremiumLayout.astro";
---

<PremiumLayout
    title="Play - Custom Word Guess"
    description="Innovate wordguess with customs words"
>
    <main class="f-row g-2">
        <CustomPlay client:only="react" />
    </main>
</PremiumLayout>
