.toast-warning{
    border: solid 1px var(--f-placeholder);
    background-color: var(--f-bg);
    width: max-content;
    padding: 12px 22px;
    top: 44px;
    left: 50%;
    transform: translateX(-50%);
    box-shadow: none;
}