.setting-icon{
   display: flex;
}

.setting-icon svg{
    fill: var(--f-placeholder);
}

.setting-cont{
    background-color: var(--f-bg);
    left: 50%;
    top: calc(50% + 105px);
    height: calc(100vh - 64px);
    transform: translate(-50%, calc(-50% - 64px));
    z-index: 100;
}

.setting-cont p{
    margin: 0;
}
.setting-cont > div{
    min-width: 280px;
}



/**/

.settings-container{
    border-bottom: solid 1px #777777;
    background-color: var(--f-bg);
    height: calc(100vh - 64px);
    z-index: 500;
    top: 64px;
}