---
import NavigationLayout from "@/layouts/NavigationLayout.astro";
import DailyGame from "@/apps/Modes/Daily/DailyGame";
---

<NavigationLayout
    title="Play - Daily WordGuess"
    description="Daily word guess games"
>
    <main class="f-col g-2 f-center" style="min-height: 500px;">
        <DailyGame client:only="react" />
    </main>
</NavigationLayout>
