---
import Aside from "@/components/aside/Aside.astro";
import Layout from "@/layouts/Layout.astro";
---

<Layout title="Home - WordGuess.site" description="">
    <Aside state={true} />
    <main class="f-row g-2">content</main>
</Layout>
