---
import AsideMenu from "@/components/AsideMenu";
import Layout from "@/layouts/Layout.astro";


---

<Layout title="Home - WordGuess.site" description="">
    header
    <main class="f-row g-2">
        <AsideMenu />
        content
    </main>
</Layout>