---
import NavigationLayout from "@/layouts/NavigationLayout.astro";
import DefaultGame from "@/apps/Modes/Normal/DefaultGame";
---

<NavigationLayout
	title="Play - WordGuess"
	description="Guess the word and play unlimited games"
>
	<main class="app-game f-col g-2 o-hidden f-center mt-5" style="min-height: 500px;">
		<DefaultGame client:only="react"/>
	</main>
</NavigationLayout>
