---
import "@Assets/css/Global.css";

import Layout from "@Layouts/Layout.astro";
import Header from "@Components/Header.astro";
import Settings from "@Apps/components/Settings/Settings.astro";
import Footer from "@Components/Footer.astro";

import { Toaster } from "sonner";
import Game from "@Apps/components/Game/Game";
import Wrapper from "@Apps/components/Wrapper";
---

<Layout title="GuessWord" description="wasa">
	<Toaster
		position="top-center"
		client:only="react"
		duration={800}
		visibleToasts={1}
		richColors
	/>
	<div class="app-game">
		<div class="hero f-col">
			<Header />
			<Wrapper client:only="react" />
		</div>
		<section>More info bottom</section>
		<Footer />
	</div>
</Layout>

<style is:inline>
	.hero{
		min-height: 100vh;
	}
	.hero:nth-child(2){
		flex-grow: 1;
	}

	.app-game {
		color: var(--f-text);
	}
	.Game-container {
		min-height: 450px;
		height: calc(100vh - 100px);
	}
</style>
