---
import { AlertDialoger } from "@lifo123/library";
import { Toaster } from "@lifo123/library/Toast";
import NavigationLayout from "@/layouts/NavigationLayout.astro";
import DefaultGame from "@/apps/Modes/Unlimited/DefaultGame";
---

<NavigationLayout
	title="Play - Guessword"
	description="Guess the word and play unlimited games"
>
	<Toaster client:idle />
	<AlertDialoger client:visible />
	<main class="app-game f-col g-2 o-hidden f-center mt-5">
		<DefaultGame client:only="react"/>
	</main>
</NavigationLayout>
