---
import TimerGame from "@/apps/Modes/Timer/TimerGame";
import NavigationLayout from "@/layouts/NavigationLayout.astro";
---

<NavigationLayout title="Play - Guessword Timer" description="">
    <main class="f-row g-2 w-100 mx-auto f-center" style="min-height: 500px;">
        <TimerGame client:only="react"/>
    </main>
</NavigationLayout>
