.alert-box{
    top: 76px;
    left: 50%;
    transform: translateX(-50%);
    background-color: var(--f-bg-bento);
    padding: 13px 26px;
    animation: alert .2s ease ;
}   

@keyframes alert {
    0%{
        top: 30px;
        opacity: 0;
    }
    50%{
        top: 76px;
    }
    75%{
        top: 84px;
    }
    100%{
        top: 76px;
        opacity: 1;
    }
}