---
import { DarkmodeIcon } from "@lifo123/library";
---

<header class="header w-100">
    <nav class="f-row f-justify-between f-align-center m-auto h-100 relative">
        <span>
            
        </span>
        <h1 class="fs-5 fw-700 absolute">Guess Word</h1>
        <DarkmodeIcon storage="darkmode" client:only="react" />
    </nav>
</header>

<style is:inline>
    .header {
        height: 50px;
        border-bottom: solid 1px var(--w-border);
        background-color: var(--w-bg);
        z-index: 1000;
    }
    .header h2 a {
        color: var(--w-title) !important;
    }

    .header h1 {
        left: 50%;
        color: var(--w-title) !important;
        transform: translateX(-50%);
    }
</style>
