---
import Settings from "@Apps/components/Settings/Settings";


---

<header class="header mt-2 w-100">
    <nav class="f-row f-justify-between f-align-center m-auto w-70 h-100 relative">
        <span>LIFO</span>
        <h1 class="fs-5 fw-700 absolute">Wordle</h1>
        <Settings client:only="react"/>
    </nav>
</header>