.box-letter{
    border-radius: 4px;
    border: solid 2px #cdcdcd;
    height: 60px;
    aspect-ratio: 1/1;
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
    font-weight: 700;
    font-size: 30px;
}

.box-letter.active{
    border: solid 2px #acacac;
    animation: BoxWithLetter .15s ease;
}

@keyframes BoxWithLetter {
    25%{
        transform: scale(1.1);
    }
    50%{
        transform: scale(1.05);
    }
}

.box-letter[eval="correct"]{
    border: solid 2px #acacac28;
    background-color: var(--f-text-green);
}
.box-letter[eval="error"]{
    border: solid 2px #acacac28;
    background-color: #69696971;
}
.box-letter[eval="exist"]{
    border: solid 2px #acacac28;
    background-color: var(--f-text-yellow);
}