.game-in{
    border: solid 1px var(--f-placeholder);
    aspect-ratio: 1/1;
    width: 46px;
    outline: none;
    text-align: center;
    font-size: 18px;
}

.game-in:focus{
    border: solid 2px var(--f-text-blue);
    caret-color: auto;
}